{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{% block sub_title %}Products{% endblock %}</h1>
                    </div><!-- /.col -->
                    {#<div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Top Navigation</li>
                        </ol>
                    </div><!-- /.col -->#}
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                    <section class="content">
                        <!-- Default box -->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card card-primary shadow-none">
                                    <div class="card-header">
                                        <h3 class="card-title">Categorise</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body" style="display: block;">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a href="{{ path('app_shop') }}" class="nav-link text-center">
                                                    All
                                                </a>
                                            </li>
                                            {% for category in categorise %}
                                                <li class="nav-item">
                                                    <a href="{{ path('app_home_filter',{'slug' : category.slug}) }}" class="nav-link text-center">
                                                        {{ category.name|title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="card card-primary shadow-none">
                                    <div class="card-header">
                                        <h3 class="card-title">Filter</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body" style="display: block;">
                                        <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="" class="nav-link text-center">
                                                        filter
                                                    </a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 d-flex flex-column">
                                {% if name %}
                                <div class="text-center shadow mb-2 p-3" style="background-color: #fff;border-radius: 10px">
                                    <h2 class="font-weight-bolder text-orange d-inline border-bottom">{{ name|title }}</h2>
                                </div>
                                {% endif %}
                                <div class="row justify-content-center">
                                {% for product in products %}
                                    <div class="card shadow col-xl-2 col-md-3 col-sm-4 mx-4" style="border-radius: 10px">
                                        <div class="card-header">
                                            <img class="card-img-top" src="{{ asset('uploads'~product.photo) }}"
                                                 alt="{{ product.name }}">
                                        </div>
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title text-center text-primary font-weight-bold fs-4">{{ product.name|title }}</h5>
                                            {% set mainPrice = product.price - ((product.price * product.discount)/100) %}
                                            <h5 class="text-danger text-center font-weight-bold fs-3">$ {{ mainPrice }} DH</h5>
                                            {% if product.discount > 0%}
                                                <h6 class="text-black-50 text-center font-weight-bold fs-2"><del>$ {{ product.price }} DH</del></h6>
                                            {% endif %}

                                            {% if app.user.contains_user(product) %}
                                                <span class="badge badge-pill badge-light"><i class="fa fa-heart fa-2x" style="color: red;"></i></span>
                                            {% endif %}
                                        </div>
                                        <dic class="card-footer clearfix row justify-content-around">
                                            {% if app.user.contains_user(product) %}
                                                <a href="#" class="btn bg-cyan col-12" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                            {% else %}
                                                <a href="#" class="btn bg-cyan col-5" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                                <a href="{{ path('app_user_add_wishlist',{'slug' : product.slug}) }}" class="btn btn-outline-dark col-5" title="Add to Wishlist"><i class="fa fa-heart" style="color: red;"></i></a>
                                            {% endif %}
                                        </dic>
                                        {% set datePost = product.date|date('d-m-Y') %}
                                        {% set today = "now"|date('d-m-Y') %}
                                        {% set difference = date(today).diff(date(datePost))%}
                                        {% set leftDays = difference.days %}
                                        {% if leftDays < 15 %}
                                            <div class="ribbon-wrapper ribbon-lg">
                                                <div class="ribbon bg-success text-lg">
                                                    New
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div>
                                        <strong>No Records Found</strong>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix ">
                            {{ knp_pagination_render(products) }}
                        </div>
                        <!-- /.card -->
                    </section>

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
