{% extends 'admin/index.html.twig' %}

{% block title %}Show Order{% endblock %}
{% block content_header %}
    {{ form_start(form) }}
    {% embed 'admin/component/_content_header_page.html.twig' %}
        {% if order.status == 'processing' %}
            {%set color = 'bg-info' %}
        {% elseif order.status == 'shipped'%}
            {%set color = 'bg-success' %}
        {% else %}
            {%set color = 'bg-danger' %}
        {% endif %}

        {% block sub_title %}Order{% endblock %}

        {% block action %}
            {{ form_row(form.status,{'attr' : {'class' : color}}) }}
            {{ form_row(form.submit ,{'attr' : {'class' : 'mx-2 btn btn-primary'}}) }}
        {% endblock %}
    {% endembed %}
    {{ form_end(form) }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cart-arrow-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Order Created at</span>
                    <span class="info-box-number">{{order.date|date('Y-m-d')}}<small> at </small>{{order.date|date('H:i:s')}}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Name</span>
                    <a href="{{ path('app_admin_show_user',{'slug' :order.entityUser.slug }) }}" class="info-box-number">{{ order.entityUser.name|title }}</a>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-envelope"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Email</span>
                    <a href="{{ path('app_admin_show_user',{'slug' :order.entityUser.slug }) }}" class="info-box-number">{{ order.entityUser.email|title }}</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-phone"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Contact No</span>
                    <span class="info-box-number">{{ order.entityUser.profile.phone ?? 'Phone Is Null' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 my-2">
            <ul class="list-group">
                <li class="list-group-item active">Invoice Detail</li>
                <li class="list-group-item">Total shipping :
                    <span class="float-right badge bg-success">${{ order.total - order.delivery }} DH</span>
                </li>
                <li class="list-group-item">Delivery Speed :
                    <span class="float-right badge bg-primary">${{order.delivery }} DH</span>
                </li>
                <li class="list-group-item">Payment Methods :
                    <span class="float-right badge bg-info">{{ order.paymentMethods|title}}</span>
                </li>
                <li class="list-group-item"><strong>Total : </strong><span class="float-right badge bg-danger">${{ order.total}} DH</span></li>
            </ul>
        </div>
        <div class="col-sm-6 my-2">
            <ul class="list-group">
                <li class="list-group-item active">Delivery Address</li>
                <li class="list-group-item">User Id :
                    <span class="float-right badge bg-success">{{ order.entityUser.slug|title }}</span>
                </li>
                <li class="list-group-item">Address :
                    <span class="float-right badge bg-primary">{{order.entityUser.profile.address|title }}</span>
                </li>
                <li class="list-group-item">Delivery Speed :
                    <span class="float-right badge bg-info">{{ order.deliverySpeed|title}}</span>
                </li>
                <li class="list-group-item">Phone : <span class="float-right badge bg-danger">{{ order.entityUser.profile.phone}}</span></li>
            </ul>
        </div>
    </div>
    <section class="content shadow-lg">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Products Of Order</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 19%">
                            Product Name
                        </th>
                        <th style="width: 20%">
                            Product Photo
                        </th>
                        <th style="width: 30%">
                            Product Description
                        </th>
                        <th style="width: 10%" class="text-center">
                            Price
                        </th>
                        <th style="width: 10%" class="text-center">
                            Quantity
                        </th>
                        <th style="width: 10%" class="text-center">
                            Category
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for detail in order.getListProducts() %}
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                {{ detail.getEntityProduct().name|title }}
                            </td>
                            <td>
                                <img alt="{{ detail.getEntityProduct().name }}" class="table-avatar img-size-64" src="{{ asset('uploads'~detail.getEntityProduct().photo) }}">
                            </td>
                            <td>
                                {{ detail.getEntityProduct().description|title }}
                            </td>
                            <td class="project-state">
                                <span class="badge badge-warning">{{ detail.getEntityProduct().price }} DH</span>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-danger">{{ detail.quantity }}</span>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">{{ detail.getEntityProduct().category.name|title }}</span>
                            </td>
                        </tr>
                    {%endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </section>
{% endblock %}
