{% extends 'admin/index.html.twig' %}

{% block title %}User{% endblock %}

{% block content_header %}
    {% embed 'admin/component/_content_header_page.html.twig' %}
        {% block sub_title %}User{% endblock %}
    {% endembed %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-dollar-sign"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total money spent</span>
                    {% set money = 0  %}
                    {% set prod = 0 %}
                    {% for item in user.orders %}
                        {% set money = money + item.total  %}
                        {% set prod = item.listProducts.count %}
                    {% endfor %}
                    <span class="info-box-number">{{ "$ "~money }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Number of orders</span>
                    <span class="info-box-number font-weight-bold">{{ user.orders|length }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="far fa-heart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Mentions</span>
                    <span class="info-box-number">{{ user.wishlist|length }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-shopping-basket"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Number of products</span>
                    <span class="info-box-number">{{prod }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    {% if user.profile %}
                        {% if user.profile.photo %}
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ asset('uploads'~ user.profile.photo) }}"
                                     alt="User profile picture">
                            </div>
                        {% else %}
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ asset('uploads/logo/user.jpg') }}"
                                     alt="User profile picture">
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{{ asset('uploads/logo/user.jpg') }}"
                                 alt="User profile picture">
                        </div>
                    {% endif %}
                    <h3 class="profile-username text-center">{{ user.name|title }}</h3>
                    <p class="text-dark text-center"><span class="info-box-number">{{user.date|date('Y-m-d')}}<small> at </small>{{user.date|date('H:i:s')}}</span></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-id-badge"></i> <span>{{ "#"~user.slug }}</span></li>
                        <li class="list-group-item"><i class="fa fa-phone-square"></i> <span>{{user.profile.phone }}</span></li>
                        <li class="list-group-item"><i class="fa fa-envelope"></i> <span>{{ user.email|title }}</span></li>
                        <li class="list-group-item"><i class="fa fa-crown"></i> {%for role in user.roles %}<span class="badge badge-danger ml-1">{{ role }}</span>{% endfor %}</li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-9">
            {{ include('admin/order/_list_orders.html.twig',{'orders' : user.orders}) }}
        </div>
    </div>
{% endblock %}