{% extends 'base_admin.html.twig' %}
{% block body %}
    {{ include('admin/component/_navbar.html.twig') }}
    {{ include('admin/component/_sidebar.html.twig') }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
       {% block content_header %}{% endblock %}
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ orders|length }}</h3>

                                    <p>Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-shopping-bag"></i>
                                </div>
                                <a href="{{ path('app_order_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{ products|length }}{#<sup style="font-size: 20px">%</sup>#}</h3>

                                    <p>Products</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-shopping-basket"></i>
                                </div>
                                <a href="{{ path('app_product_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ users|length }}</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ categorise|length }}</h3>

                                    <p>Categorise</p>
                                </div>
                                <div class="icon">
{#                                    <i class="ion ion-pie-graph"></i>#}
                                    <i class="fa fa-chart-pie"></i>
                                </div>
                                <a href="{{ path('app_category_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <div class="my-2">
                        {{ render_chart(chart) }}
                    </div>
                {% endblock %}
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}