{% extends 'admin/index.html.twig' %}

{% block title %}List Category{% endblock %}
{% block content_header %}
    {% embed 'admin/component/_content_header_page.html.twig' %}
        {% block sub_title %}Categories{% endblock %}
        {% block action %}<a href="{{ path('app_category_new') }}" class="btn btn-sm btn-outline-success">Create new</a>{% endblock %}
    {% endembed %}
{% endblock %}
{% block content %}
<div class="card shadow-lg">
    <div class="card-header">
        <h3 class="card-title">All Categories</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>#</td>
                <td>{{ category.name|title }}</td>
                <td>{{ category.description|title }}</td>
                <td class="text-center">
                    <div class="dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fa fa-chevron-circle-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_category_show', {'slug': category.slug}) }}" class="dropdown-item bg-primary">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_category_edit', {'slug': category.slug}) }}" class="dropdown-item bg-info">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <div class="dropdown-divider"></div>
                            {{ include('admin/category/_delete_form.html.twig',{'slug':category.slug}) }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="card-footer">
        {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}
