{% extends 'home/shop.html.twig' %}

{% block title %}Order{% endblock %}
 {% block sub_title %}Detail Of Order{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 row justify-content-center">
            {% for label,item in cart %}
                <div class="card shadow col-xl-3 col-ms-4 col-sm-5 m-2" style="border-radius: 10px">
                    <div class="card-header">
                        <img class="card-img-top" src="{{ asset('uploads'~item.product.photo) }}"
                             alt="{{  item.product.name|title }}">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center text-primary font-weight-bold fs-4">{{ item.product.name|title }}</h5>
                        <h5 class="text-danger text-center font-weight-bold fs-3">$ {{ item.price  }} DH</h5>
                    </div>
                    <dic class="card-footer clearfix">
                        <a href="{{ path('app_user_cart_delete',{'label' : label}) }}"
                           class="btn btn-sm btn-block btn-outline-danger">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </dic>
                    {% set datePost = item.product.date|date('d-m-Y') %}
                    {% set today = "now"|date('d-m-Y') %}
                    {% set difference = date(today).diff(date(datePost))%}
                    {% set leftDays = difference.days %}
                    {% if leftDays < 15 %}
                        <div class="ribbon-wrapper ribbon-lg">
                            <div class="ribbon bg-success text-lg">
                                New
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor%}
        </div>
        <div class="col-12 col-md-4 row align-items-center">
            <div class="card card-primary col-12">
                <div class="card-header">
                    <h2 class="card-title text-center font-weight-bold">Summary</h2>
                </div>
                <div class="card-body text-left">
                    <ul class="list-group">
                        {% set mainTotal = total + speed %}
                        <li class="list-group-item">Total shipping : {{ total }} DH</li>
                        <li class="list-group-item">Delivery Speed : {{ speed }} DH</li>
                        <li class="list-group-item">Payment Methods : {{ payment|title }}</li>
                        <li class="list-group-item"><strong>Total : </strong> {{ mainTotal }} DH</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_user_order_new',{'total' : mainTotal,'speed' : speed,'payment' : payment})}}" class="btn btn-block btn-outline-success">Save</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}