{% extends 'home/index.html.twig' %}

{% block title %}Order{% endblock %}
 {% block sub_title %}Show Order{% endblock %}
{% block content %}
    <section class="content shadow-lg">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Products Of Order</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 19%">
                            Product Name
                        </th>
                        <th style="width: 20%">
                            Product Photo
                        </th>
                        <th style="width: 30%">
                            Product Description
                        </th>
                        <th style="width: 10%" class="text-center">
                            Price
                        </th>
                        <th style="width: 10%" class="text-center">
                            Quantity
                        </th>
                        <th style="width: 10%" class="text-center">
                            Category
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for detail in order.getListProducts() %}
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                {{ detail.getEntityProduct().name|title }}
                            </td>
                            <td>
                                <img alt="{{ detail.getEntityProduct().name }}" class="table-avatar w-50" src="{{ asset('uploads'~detail.getEntityProduct().photo) }}">
                            </td>
                            <td>
                                {{ detail.getEntityProduct().description|title }}
                            </td>
                            <td class="project-state">
                                <span class="badge badge-warning">{{ detail.getEntityProduct().price }} DH</span>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-danger">{{ detail.quantity }}</span>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">{{ detail.getEntityProduct().category.name|title }}</span>
                            </td>
                        </tr>
                    {%endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}